NEXT_PUBLIC_API="http://localhost:3001/"
NEXT_PUBLIC_APIs="https://apix.nextctl.co.uk/"
NEXT_PUBLIC_STORAGE_URLs="https://dbs2.ctl.eu.com"
NEXT_PUBLIC_STORAGE_URL="https://cloud.appwrite.io"
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="6LeXtGApAAAAADtgijDMhvpAuWYLI5zykc2nOSXn"

NEXT_PUBLIC_IMAGE_DOMAIN="localhost, cms.nextctl.co.uk, cloud.appwrite.io"
NEXT_PUBLIC_IMAGE_DOMAINs="localhost, cms.nextctl.co.uk, dbs2.ctl.eu.comundefined, cloud.appwrite.io"
